* {
    background-color: rgb(35, 38, 48);
    margin: 0 auto;
}

.image {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border: solid;
}

.image:hover {
    scale: .99;
}

.image:active {
    transform: scale(.99);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 600px;
    gap: 10px;
    max-height: calc(6 * 100px + 5 * 10px);
    border: solid;
}